.container {
    display: flex;
    flex-direction: column;
    border: .1rem solid #000;
    width: 20rem;
    padding: .5rem;
}

.signUpCta {
    margin-bottom: .3rem;
    width: max-content;
}

.loginCta {
    padding: .2rem 0;
}
